@import 'mixins';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  max-width: 1000px;
  margin: 50px auto 0;
}

.App-title {
  font-family: "St Marie";
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin: 0;

  @media screen and (min-width: 480px) {
    font-size: 3.5rem;
  }

  &__main {
    line-height: 2.5rem; //account for top-whitespace of St Marie Font
  }

  &__subtitle {
    font-family: "Open Sans Light";
    letter-spacing: 0.7em;
    font-size: 1.4rem;
    line-height: 3.2rem;

    @media screen and (min-width: 480px) {
      font-size: 2rem;
      line-height: 4.5rem;
    }
  }
}

.App-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.App-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    @include ease();
    @include shadow();

    &:hover {
      margin: 7px;
      width: 306px;
      height: 306px;
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      img {
        width: 100%;
      }
    }
  }
}

.App-footer {
  max-width: 1000px;
  margin: 50px auto 100px;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;

  &__headline {
    font-family: "St Marie";
    font-size: 1.4rem;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 480px) {
      font-size: 2rem;
    }
  }

  &__email {
    font-family: "Open Sans Light";
    font-size: 1rem;
    margin: 0;
    padding: 20px;
    color: #000;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (min-width: 480px) {
      font-size: 1.1rem;
    }
  }
}
